doctype html
html
  head
    meta(charset='utf-8')
    if client && client.token
      meta(name='x-github-access-token' content=client.token)
      meta(name='x-route-path' content=route.path)
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Hubpix
    link(rel="stylesheet", href=bootstrapURL)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/app.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="/app.js")
  body(data-endpoints=endpoints)
    .container
      block content
